.MuiPaper-root {
  background-color: rgba(0, 0, 0, 0.5) !important;
  height: 70px !important;
  width: 100%;
  color: #f5deb3 !important;
  margin: 150px 0 0 0 !important;
  font-size: 27px !important;
}
.MuiButton-root {
  font-size: 27px !important;
  background-image: rgba(0, 0, 0, 0.5) !important;
  color: rgba(104, 98, 187, 0.5) !important;
}
