.paper {
  background-color: rgba(0, 0, 0, 0.5);
  height: 600px;
  width: 250px;
  color: #f5deb3;
  margin: 150px 0 0 0;
  font-size: 19px;
  position: absolute;
  z-index: 1;
  transition: all 0.5s linear;
  animation: appear 0.5s linear forwards;
}
@keyframes appear {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.button {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(104, 98, 187, 0.5);
  cursor: pointer;
  width: 114px;
  position: absolute;
  z-index: 1;
  margin: 119px 0 0 20px;
  animation: 5s bounce linear infinite;
}
@keyframes bounce {
  0% {
    transform: translateX(0);
    transform: rotate(0deg);
  }
  50% {
    transform: translateX(0%);
    transform: rotate(360deg);
  }
  100% {
    transform: translateX(0%);
  }
}

.a_link {
  color: #f5deb3;
  font-size: 27px;
}
.item {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 0 20px 20px;
}
.item .icon {
  margin: 0 15px 0 0;
}

.main_part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
