.main-body {
  padding-top: 200px;
  background-color: rgba(106, 106, 106, 0.614);
  color: white;
  font-weight: 400;
  height:100%;
  position: absolute;
  z-index: 1;
}

.first-block .base {
  background-color: rgba(255, 0, 0, 0.4);
  position: absolute;
  top: 205px;
  right: 0;
  bottom: 0;
  left: 50px;
  transform: translateZ(0);
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: row-reverse;
}
.second-block .back {
  background-color: rgba(255, 0, 0, 0.4);
  position: absolute;
  top: 255px;
  right: 0;
  bottom: 0;
  left: 100px;
  transform: translateZ(-1px) scale(2);

  height: 100px;
  width: 100px;
  z-index: -15;
}
.projects-part{
  margin: 100px 0 0 0;
}