a{
  text-decoration: none;
  color: whitesmoke;
}
.main-body {
  padding-top: 200px;
  background-color: rgba(106, 106, 106, 0.614);
  color: whitesmoke;
  font-weight: 400;
  width: 100%;
  position: absolute;
}

.first-block .base {
  background-color: rgba(255, 0, 0, 0.4);
  position: absolute;
  top: 205px;
  right: 0;
  bottom: 0;
  left: 50px;
  transform: translateZ(0);
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: row-reverse;
}
.second-block .back {
  background-color: rgba(255, 0, 0, 0.4);
  position: absolute;
  top: 255px;
  right: 0;
  bottom: 0;
  left: 100px;
  transform: translateZ(-1px) scale(2);

  height: 100px;
  width: 100px;
  z-index: -15;
}

.projects-part{
  margin: 50px 0 0 0;
  background-color: rgba(106, 106, 106, 0.614);
  width: 100%;
  height: 100%;
}

.html-proj, .react-got , .zakaz , .leadHit , .jasmine {
height: 400px;
overflow-y:scroll;
display: flex;
justify-content: center;
align-items: center;
margin:20px 0 0 0;
}
.html-proj::-webkit-scrollbar, .react-got::-webkit-scrollbar , .zakaz::-webkit-scrollbar , .leadHit::-webkit-scrollbar , .jasmine::-webkit-scrollbar {
width: 0;
  }
.html-proj img , .react-got img , .zakaz img , .leadHit img, .jasmine img{
  width: 100%;
  height: 100%;
  filter: blur(3px);
}
.html-proj img:hover , .react-got img:hover , .zakaz img:hover , .leadHit img:hover , .jasmine img:hover{
  filter: blur(0px);
  cursor: pointer;
}
.html-proj .descript , .react-got .descript , .zakaz .descript , .leadHit .descript , .jasmine .descript{
    position: absolute;
    z-index: 100;
    height: 400px; 
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: end;
}
.projects-part .descript h1{
  color: black;
}

@media screen and (max-width:599px){
  .html-proj, .react-got , .zakaz , .leadHit , .jasmine {
    height: 400px;
    overflow-y:scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    }
    .html-proj img , .react-got img , .zakaz img , .leadHit img, .jasmine img{
      width: 100%;
      height: 100%;
      filter: blur(3px);
    }
    .html-proj img:hover , .react-got img:hover , .zakaz img:hover , .leadHit img:hover , .jasmine img:hover{
      filter: blur(0px);
      cursor: pointer;
    }
    .html-proj .descript , .react-got .descript , .zakaz .descript , .leadHit .descript , .jasmine .descript{
        position: absolute;
        z-index: 100;
        height: 400px; 
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        text-align: end;
    }
    .projects-part .descript h1{
      color: black;
    }
    
}
@media screen and (min-width:600px){
  .html-proj, .react-got , .zakaz , .leadHit , .jasmine {
    height: 700px;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .html-proj img , .react-got img , .zakaz img , .leadHit img, .jasmine img{
      width: 90%;
      height: 90%;
      filter: blur(3px);
    }
    .html-proj img:hover , .react-got img:hover , .zakaz img:hover , .leadHit img:hover , .jasmine img:hover{
      filter: blur(0px);
      cursor: pointer;
    }
    .html-proj .descript , .react-got .descript , .zakaz .descript , .leadHit .descript , .jasmine .descript{
      z-index: 0;
      position:relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: end;
    }
    .projects-part .descript h1{
      color: black;
    }
    
}
@media screen and (min-width:900px){
  .projects-part{
    margin: 50px 0 0 0;
    background-color: rgba(106, 106, 106, 0.614);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .html-proj, .react-got , .zakaz , .leadHit , .jasmine {
    height: 500px;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    }
    .html-proj img , .react-got img , .zakaz img , .leadHit img, .jasmine img{
      width: 400px;
      height: 400px;
      filter: blur(3px);
    }
    .html-proj img:hover , .react-got img:hover , .zakaz img:hover , .leadHit img:hover , .jasmine img:hover{
      filter: blur(0px);
      cursor: pointer;
    }
    .html-proj .descript , .react-got .descript , .zakaz .descript , .leadHit .descript , .jasmine .descript{
      z-index: 0;
      position:relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: end;
    }
    .projects-part .descript h1{
      color: black;
    }
    
}