a {
  text-decoration: none;
  color: whitesmoke;
}
.main-header {
  height: 100%;
}
.star-block {
  background-position: relative;
  background-repeat: no-repeat;
  background-size: 500px;
  height: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 100px;
  width: 100%;
  transform: translateZ(-1px) scale(2);
}
.main-body {
  padding-top: 200px;
  background-color: rgba(106, 106, 106, 0.614);
  color: whitesmoke;
  font-weight: 400;
  width: 100%;
  height: 100%;
  position: absolute;
}

.first-block .base {
  background-color: rgba(16, 23, 71, 0.4);
  background-image: url("https://github.com/Lubava7/port2/blob/master/public/images/transparentPng/cosmos.jpg?raw=true");
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 350px;
  transform: translateZ(0);
  border-radius: 50%;
  height: 600px;
  width: 900px;
  display: flex;
  flex-direction: row-reverse;
}
.sputnic {
  position: absolute;
  height: 200px;
  width: 250px;
  animation: moveLeft 30s linear infinite, 16s rotate 1s linear infinite;
}
@keyframes moveLeft {
  0% {
    left: 140%;
  }
  100% {
    left: -140%;
  }
}
@keyframes rotate {
  0% {
    bottom: 20%;
    transform: rotate(0deg);
  }
  25% {
    bottom: 10%;
  }
  50% {
    bottom: 0%;
  }
  75% {
    bottom: 10%;
  }
  100% {
    bottom: 20%;
    transform: rotate(360deg);
  }
}
.rocket {
  position: absolute;
  height: 1400px;
  width: 700px;
  z-index: 0;
}
.second-block {
  background-image: url("https://github.com/Lubava7/port2/blob/master/public/images/transparentPng/rocketMaket1.png?raw=true");
  background-size: 15%;
  height: 100%;
}
.endurance {
  margin: 0 0 0 50%;
  position: absolute;
  width: 700px;
  height: 400px;
  animation: 20s endurance 1s linear infinite;
}
@keyframes endurance {
  0% {
    bottom: 20%;
    transform: rotate(0deg);
  }
  25% {
    bottom: 10%;
  }
  50% {
    bottom: 0%;
  }
  75% {
    bottom: 10%;
  }
  100% {
    bottom: 20%;
    transform: rotate(360deg);
  }
}
