.main-header {
  width: 100%;
  height: 100%;
  /* background-color: #2d3142; */
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  perspective: 1px;
}
.main-header .first-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(0);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
}
.first-block div {
  box-shadow: 2px 2px 2px 3px #383838;
  background-color: rgb(106, 106, 106);
  margin: 3px;
  padding: 2px;
}
.first-block .one {
  width: 75px;
  height: 80px;
}
.first-block .two {
  width: 85px;
  height: 90px;
}
.first-block .three {
  width: 50px;
  height: 55px;
}
.first-block .four {
  width: 45px;
  height: 50px;
}
.first-block .five {
  width: 80px;
  height: 85px;
}

/* ////////////////////////// */
.second-block div {
  box-shadow: 2px 2px 2px 3px #383838;
  background-color: rgb(106, 106, 106);
  margin: 3px;
  padding: 2px;
}
.main-header .second-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);

  width: 100%;
  height: 100%;
  /* background-color: rgba(106, 106, 106, 0.614); */
  display: flex;
  flex-direction: row-reverse;
  z-index: -10;
}
.second-block .one {
  width: 95px;
  height: 105px;
}
.second-block .two {
  width: 90px;
  height: 120px;
}
.second-block .three {
  width: 70px;
  height: 100px;
}
.second-block .four {
  width: 60px;
  height: 65px;
}
.second-block .five {
  width: 75px;
  height: 110px;
}
