.main-header {
  width: 100%;
  height: 100%;
  /* background-color: #2d3142; */
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  perspective: 1px;
  z-index: -5;
}
.main-header .first-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(0);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
}
.first-block div {
  box-shadow: 2px 2px 2px 3px #383838;
  background-color: rgba(50, 16, 81, 0.8);
  margin: 3px;
  padding: 2px;
}
.first-block .one {
  width: 75px;
  height: 80px;
}
.first-block .two {
  background-image: url("../../../public/images/transparentPng/earth.png");
  background-size: 150px;
  width: 100px;
  height: 100px;
}
.first-block .three {
  width: 50px;
  height: 55px;
}
.first-block .four {
  width: 45px;
  height: 50px;
}
.first-block .five {
  background-image: url("../../../public/images/transparentPng/jupiter.png");
  background-size: 150px;
  width: 100px;
  height: 100px;
}

/* ////////////////////////// */
.second-block div {
  box-shadow: 2px 2px 2px 3px #383838;
  background-color: rgb(106, 106, 106);
  margin: 3px;
  padding: 2px;
}
.main-header .second-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  z-index: -10;
}
