.figure {
  background-color: #2d5e90;
  height: 2%;
  width: 3%;
  position: absolute;
  z-index: 1;
  animation: rotate 7s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Rrotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.square {
  top: 10%;
  right: 10%;
  background-color: #12365d;
}
.circle {
  top: 20%;
  left: 10%;
  border-radius: 50%;
}
.star {
  top: 30%;
  right: 10%;
  background-color: #12365d;
  animation: Rrotate 7s linear infinite;
}
.parallelogram {
  top: 40%;
  left: 8%;
  transform: skew(23deg);
}
.triangle {
  background-color: transparent;
  top: 45%;
  left: 12%;
  position: absolute;
  height: 0;
  width: 0;
  z-index: 1;
  border-bottom: 20px solid #12365d;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  animation: Rrotate 7s linear infinite;
}
.trapezoid {
  background-color: transparent;
  top: 54%;
  right: 10%;
  position: absolute;
  z-index: 1;
  height: 0;
  width: 15px;
  border-bottom: 20px solid #12365d;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.six-star {
  top: 65%;
  right: 20%;
}

.pentagon {
  top: 75%;
  right: 10%;
  background-color: #12365d;
  animation: Rrotate 7s linear infinite;
}
.hexagon {
  top: 85%;
  left: 10%;
  background-color: #12365d;
}
.heart {
  top: 90%;
  right: 10%;
}
